<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h2>Welcome To COMPETITIVE INTELLIGENCE</h2>
 <form  action="{{ url_for("form_data")}}" method="POST">
	
<p>
	<label>ENTER COMPANY NAME : <input type="text" name="company_name" /></label>
	</p>

	
<p>
	<label for="birthdaytime">Please Enter date and time (date and time):</label>
    <input type="date" id="company_time" name="company_time">
	</p>

	
<p>
	<button type="submit">Submit</button>
	</p>

</form>
</body>
</html>
